.volume {
  color: #7dcfff;
}

.volume.mute {
  color: #a9b1d6;
}

scale slider {
  background-color: transparent;
  box-shadow: none;
}

scale.volume_bar {
  padding: 0;
}

scale.volume_bar trough highlight {
  background-color: #7dcfff;
}

scale.volume_bar.mute trough highlight {
  background-color: #a9b1d6;
}
